.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
}

.list-container li {
  padding-left: 10px;
}

.container ul li {
  list-style: none;
}
